@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Банк</title>
  <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="topnav">
      <div class="mainLogo">
        <h1>ДмитриБанк</h1>
      </div>
        <a href='@Url.Action("Index","Home")'>Главная</a>
        <a href='@Url.Action("About","Home")'>О банке</a>
        <a href='@Url.Action("ExchangeRatesView","ExchangeRates")'>Курсы</a>
        <a href='@Url.Action("Branches","Branch")'>Филлиалы</a>
      </div>
</body>