@using BankSystemASP.Domain.Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<User>

<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Банк</title>
  <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/RegStyle.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/ButtonStyle.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/AuthenticationForm.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/RegistrationFormStyle.css")" rel="stylesheet" type="text/css" />
</head>

<body>    
    <table class="table">
    <tr><td>Имя</td><td>Возраст</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.Age</td></tr>
    }
</table>
  <div class="form-popup" id="myForm">
    <form class="form-container">
      <h1>Логин</h1>  
      <label for="email"><b>Почта</b></label>
      <input type="text" placeholder="Введите Почту" name="email" required>  
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Введите Пароль" name="psw" required>  
      <button type="submit" class="btn">Логин</button>
      <button type="submit" class="btn cancel" onclick="closeForm()">Закрыть</button>
    </form>
  </div>
  
    <div class="topnav">
      <div class="mainLogo">
        <h1>ДмитриБанк</h1>
      </div>
        <a>Главная</a>
        <a>О банке</a>
        <a>Курсы</a>
        <a @Url.Action("","")>Филлиалы</a>
      </div>
      <div class="authenticationForm">
        <div class="text-field">
          <label class="text-field__label" for="login">Логин</label>
          <input class="text-field__input" type="text" name="login" id="login" placeholder="Login">
        </div>
        <div class="text-field">
        <label class="text-field__label">Пароль</label>
        <input class="text-field__input" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="authentication-wrapper">
          <button class="signIn-button authentication-button">Войти</button>
          <button class="registration-button authentication-button" onclick="location.href='@Url.Action("GetUsers", "Users")'">Регистрация</button>
        </div>
      </div>
</body>
</html>
