@using BankSystemASP.Domain.Entity
@model IEnumerable<Branch>

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <link href="@Url.Content("~/css/BranchStyle.css")" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="base-block">
  <div class="filter">
    <div class="filter-wrapper">
      <span>Область</span>
      <select multiple name="">
        <option disabled>Выберите область</option>
        <option value="Минская">Минская</option>
        <option value="Гродненская">Гродненская</option>
        <option value="Гомельсая">Гомельсая</option>
      </select>
    </div>
    <div class="filter-wrapper">
      <span>Город</span>
      <select multiple name="">
        <option disabled>Выберите город</option>
        <option value="Минск">Минск</option>
        <option value="Гродно">Гродно</option>
        <option value="Гомель">Гомель</option>
      </select>
    </div>
    <div class="filter-wrapper">
      <span>Улица</span>
      <select multiple name="">
        <option disabled>Выберите улицу</option>
        <option value="Заречная">Заречная</option>
        <option value="Зеленая">Зеленая</option>
        <option value="Луговая">Луговая</option>
      </select>
    </div>
    <div class="filter-wrapper">
      <span>Номер</span>
      <select multiple name="">
        <option disabled>Выберите номер</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="weekend" name="weekend">
      <label for="weekend">Работает в выходные</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="disabled-person" name="disabled-person">
      <label for="disabled-person">Адаптировано для инвалидов</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="wi-fi" name="wi-fi">
      <label for="wi-fi">Наличие Wi-fi</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="entry" name="entry">
      <label for="entry">Предварительная запись</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="parking" name="parking">
      <label for="parking">Наличие парковки</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="queue" name="queue">
      <label for="queue">Электронная очередь</label>
    </div>
  </div>

    <div class="info-block">
    <div class="sort">
      <span>Сортировать:</span>
      <select name="">
        <option selected value="up">По возрастанию</option>
        <option value="down">По убыванию</option>
      </select>
    </div>
    <div style="clear: both"></div>

 @foreach (var item in Model)
 {
    <div class="bank-info">
        <div class="main info">
          <div><span>Номер:</span> @item.Namber</div>
          <div><span>Адрес: @item</span> @item.</div>
        </div>
        <div class="work-time">
          <div><span>Время работы:</span></div>
          <div>@item.WorkTime</div>
        </div>
    </div>
 }
 
</div>

</body>
</html>